# String Basics, Indexing, and Slicing

### The Basics

- A `string` is a sequence of characters enclosed within a pair of double (" ") or single quotation marks (' ').

In [1]:
s = "Hello World"
s

'Hello World'

In [2]:
print(s)

Hello World

In [3]:
type(s)

str

In [4]:
s = ''  # An empty string
s

''

In [5]:
name = input("What's your name? ")  # Get a string from the user
name

What's your name? Jack Sparrow

'Jack Sparrow'

In [6]:
print('Hi', name)

Hi Jack Sparrow

<img src="images/jack_sparrow.jpg" alt="Jack Sparrow" style="width: 100px;"/>

- Curved quotation marks won't work.

In [7]:
print(“Hello World”)

SyntaxError: invalid character in identifier (<ipython-input-7-cffa6648c57c>, line 1)

In [8]:
print(‘Hello World’)

SyntaxError: invalid character in identifier (<ipython-input-8-e515f891c7df>, line 1)

- Using quotation marks inside quotation marks:

In [9]:
print("He said, 'You look young.'")  # Single inside double

He said, 'You look young.'

In [10]:
print('He said, "You look young."')  # Double inside single

He said, "You look young."

In [11]:
print("He said, \"You look young.\"")  # Escape the double quotes

He said, "You look young."

In [12]:
print('He said, \'You look young.\'')  # Escape the single quotes

He said, 'You look young.'

In [13]:
print ("""He said, "You look young." """)  # Use triple-quoted strings

He said, "You look young."

In [14]:
print ('''He said, 'You look young.' ''')  # Use triple-quoted strings

He said, 'You look young.'

### Indexing

- We can access individual characters through indexing.
- The index is numbered from left to right, starting with 0. It can also be number from right to left, starting with -1.

In [15]:
name

'Jack Sparrow'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [16]:
name[0]

'J'

In [17]:
print(name[0], name[3], name[-11])

J k a

### Slicing

- We can access a consecutive sequence of characters (i.e., a substring) through slicing.
```python
string[start:end]  # Both start and end must be integer```
- This statement produces a substring beginning at `start` and runs up to but doesn't include `end`.
<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [18]:
name[5:100]

'Sparrow'

In [19]:
name[:5]

'Jack '

In [20]:
name[5:]

'Sparrow'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [21]:
name[-9:-6]

'k S'

In [22]:
name[-3:]

'row'

In [23]:
name[:-6]

'Jack S'

In [24]:
name[2:-6]

'ck S'

<img src="images/index.png" alt="Indexing: Jack Sparrow" style="width: 300px;"/>

In [25]:
name[9:5]

''

In [26]:
name[3:3]

''

### Course Materials on YouTube and GitHub

- Course videos are hosted by YouTube ( http://youtube.com/yongtwang ).
- Course documents (Jupyter Notebooks and Python source code) are hosted by GitHub ( http://github.com/yongtwang ).