# Tuples

### The Basics

- Tuples are very similar to lists. Lists are enclosed in "[ ]" and tuples in parentheses "( )".

In [1]:
x = (2.7, 'Hello World', -3)
x

(2.7, 'Hello World', -3)

In [2]:
len(x)  # Length of the tuple

3

In [3]:
type(x)

tuple

In [4]:
y = (3.4, "hello", 4, (-7, 'world'))  # Nested tuple
y

(3.4, 'hello', 4, (-7, 'world'))

In [5]:
len(y)

4

In [6]:
(-1, 2) + (2, 3.4)  # Concatenation

(-1, 2, 2, 3.4)

In [7]:
(-1, 2) * 3  # Repetition

(-1, 2, -1, 2, -1, 2)

- Indexing and slicing of tuples are similar to strings and lists.

In [8]:
y

(3.4, 'hello', 4, (-7, 'world'))

In [9]:
y[1]  # Indexing

'hello'

In [10]:
y[3]

(-7, 'world')

In [11]:
y[3][0]  # Nested indexing

-7

In [12]:
y[1:3]  # Slicing

('hello', 4)

In [13]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
days

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [14]:
days[4 - 1]  # Convert an int day into the three-letter abbreviation

'Thu'

In [15]:
for d in days:
    print(d)

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [16]:
for i, d in enumerate(days):  # enumerate returns both the index and the value of each element
    print('Day', i+1, 'is', d)

Day 1 is Mon
Day 2 is Tue
Day 3 is Wed
Day 4 is Thu
Day 5 is Fri
Day 6 is Sat
Day 7 is Sun

In [17]:
days

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [18]:
'Mon' in days  # Whether a given element is contained in a tuple

True

In [19]:
'mon' in days

False

In [20]:
5 in (2, 4, 6, 8)

False

In [21]:
z = ["cheese", ("red", "rojo"), [3, 5]]  # Outermost symbols are brackets
z

['cheese', ('red', 'rojo'), [3, 5]]

In [22]:
type(z)

list

In [23]:
z = ("cheese", ("red", "rojo"), [3, 5])  # Outermost symbols are curly braces
z

('cheese', ('red', 'rojo'), [3, 5])

In [24]:
type(z)

tuple

In [25]:
type(z[2])

list

- It is possible to drop the parentheses when creating a tuple, and only use a sequence of values separated by commas:

In [26]:
x = 1, 3, 5
x

(1, 3, 5)

- Include a comma when creating a tuple with only one element:

In [27]:
x = 2,
x

(2,)

In [28]:
x = (2,)
x

(2,)

In [29]:
type(x)

tuple

In [30]:
x = 2  # Not a tuple
x

2

In [31]:
x = (2)
x

2

In [32]:
type(x)

int

In [33]:
x = ()  # Empty tuple
x

()

In [34]:
type(x)

tuple

In [35]:
x = ( ,)  # This is wrong

SyntaxError: invalid syntax (<ipython-input-35-29690e875ae1>, line 1)

### Tuples Are Immutable

In [36]:
y = (2, 3)
y

(2, 3)

In [37]:
y[0] = 1

TypeError: 'tuple' object does not support item assignment

- Python uses tuples for simultaneous assignment and unpacking multiple returns from functions.

In [38]:
x, y = 1, 2
x, y

(1, 2)

In [39]:
mm, dd, yyyy = '05/20/2019'.split('/')  # mm/dd/yyyy
mm, dd, yyyy

('05', '20', '2019')

### Course Materials on YouTube and GitHub

- Course videos are hosted by YouTube ( http://youtube.com/yongtwang ).
- Course documents (Jupyter Notebooks and Python source code) are hosted by GitHub ( http://github.com/yongtwang ).