In [46]:
import pandas as pd
df_restaurants = pd.read_csv("Blacksburg-Restaurants-Locations-edited.csv") #, dtype = {'Longitude':'float64', 'Lattitude':'float64'})
df_restaurants.head()

,Restaurant,Address,Phone Number,Longitude,Lattitude
0,622 North,"622 N Main St, Blacksburg, VA",540-951-1033,-80.4194181,37.234521
1,Au Bon Pain,"125 College Ave, Blacksburg, VA",540-231-9421,-80.41591564,37.2301771
2,Avellinos Italian & Pizzeria,"1440 S Main St, Blacksburg, VA",540-953-4040,-80.4018148,37.2141015
3,Backstreets Restaurant,"207 S Main St, Blacksburg, VA",540-953-0053,-80.41247863,37.22823855
4,Beijing Buffet,"1200 S Main St, Blacksburg, VA",540-951-8889,-80.4032092,37.2190136

In [7]:
import pandas as pd
data = pd.read_csv("project/town_of_blacksburg-edited.csv")
data.head()

         LON        LAT  NUMBER            STREET        CITY
0 -80.401094  37.264731    1003  MOURNING DOVE DR  BLACKSBURG
1 -80.400333  37.236733     201      ALLEGHANY ST  BLACKSBURG
2 -80.400006  37.222946    1107       KENTWOOD DR  BLACKSBURG
3 -80.399997  37.222288    1114       KENTWOOD DR  BLACKSBURG
4 -80.399928  37.220618     300          COHEE RD  BLACKSBURG

In [8]:
import openrouteservice as ors
import folium
client = ors.Client(key='5b3ce3597851110001cf6248dc8f9856371941d6bd805d0663462e2c')

In [60]:
coordinates = [
    [float(df_restaurants['Longitude'][i]), float(df_restaurants['Lattitude'][i])] for i in range(14)]

In [65]:
restaurant_distances = client.distance_matrix(coordinates)
restaurant_distances

{'durations': [[0.0,
   149.84,
   366.59,
   159.7,
   277.99,
   162.82,
   139.13,
   94.78,
   473.28,
   167.65,
   131.34,
   92.93,
   371.73,
   142.87],
  [195.74,
   0.0,
   308.45,
   108.75,
   219.85,
   40.54,
   87.95,
   178.33,
   415.14,
   24.79,
   88.72,
   259.81,
   313.59,
   85.66],
  [382.07,
   327.21,
   0.0,
   253.26,
   107.48,
   276.03,
   291.28,
   364.67,
   178.02,
   286.22,
   292.06,
   446.9,
   6.11,
   259.25],
  [172.62,
   109.97,
   250.71,
   0.0,
   162.11,
   73.78,
   74.04,
   155.22,
   357.4,
   83.96,
   74.82,
   237.45,
   255.84,
   38.19],
  [295.92,
   241.06,
   88.6,
   167.11,
   0.0,
   189.88,
   205.13,
   278.52,
   195.29,
   200.07,
   205.9,
   360.75,
   93.74,
   173.1],
  [160.76,
   88.9,
   273.48,
   73.78,
   184.88,
   0.0,
   52.97,
   143.35,
   380.17,
   15.75,
   53.74,
   224.83,
   278.61,
   50.68],
  [183.32,
   111.46,
   296.04,
   96.34,
   207.44,
   28.12,
   0.0,
   165.91,
   402.73,
   28.53,
   76.3,
   247.39,
   301.17,
   73.24],
  [17.42,
   95.54,
   362.11,
   155.22,
   273.51,
   125.2,
   97.08,
   0.0,
   468.8,
   120.33,
   89.29,
   110.35,
   367.25,
   133.89],
  [429.1,
   374.23,
   123.29,
   300.29,
   154.51,
   323.06,
   338.31,
   411.69,
   0.0,
   333.24,
   339.08,
   493.93,
   128.3,
   306.28],
  [170.95,
   99.08,
   283.66,
   83.96,
   195.06,
   15.75,
   63.16,
   153.54,
   390.35,
   0.0,
   63.93,
   235.02,
   288.8,
   60.87],
  [107.01,
   35.15,
   289.5,
   74.82,
   200.9,
   35.91,
   7.79,
   89.61,
   396.19,
   36.31,
   0.0,
   171.09,
   294.64,
   44.6],
  [49.69,
   158.5,
   416.28,
   209.38,
   327.68,
   188.16,
   160.04,
   62.97,
   522.97,
   183.28,
   152.25,
   0.0,
   421.41,
   192.55],
  [387.08,
   332.21,
   6.11,
   258.27,
   112.49,
   281.04,
   296.29,
   369.67,
   183.02,
   291.22,
   297.06,
   451.91,
   0.0,
   264.26],
  [151.61,
   79.75,
   256.7,
   38.19,
   168.1,
   50.68,
   43.83,
   134.21,
   363.39,
   60.87,
   44.6,
   215.69,
   261.83,
   0.0]],
 'destinations': [{'location': [-80.41959, 37.234422],
   'snapped_distance': 18.81},
  {'location': [-80.415979, 37.230242], 'snapped_distance': 9.13},
  {'location': [-80.402118, 37.21401], 'snapped_distance': 28.68},
  {'location': [-80.412407, 37.228118], 'snapped_distance': 14.82},
  {'location': [-80.402879, 37.219222], 'snapped_distance': 37.31},
  {'location': [-80.415237, 37.22936], 'snapped_distance': 8.63},
  {'location': [-80.414797, 37.229952], 'snapped_distance': 10.52},
  {'location': [-80.418531, 37.233544], 'snapped_distance': 8.92},
  {'location': [-80.399116, 37.203353], 'snapped_distance': 46.32},
  {'location': [-80.415924, 37.229719], 'snapped_distance': 9.24},
  {'location': [-80.414799, 37.230159], 'snapped_distance': 15.33},
  {'location': [-80.421394, 37.234141], 'snapped_distance': 14.29},
  {'location': [-80.402435, 37.213894], 'snapped_distance': 19.27},
  {'location': [-80.413062, 37.228717], 'snapped_distance': 12.44}],
 'sources': [{'location': [-80.41959, 37.234422], 'snapped_distance': 18.81},
  {'location': [-80.415979, 37.230242], 'snapped_distance': 9.13},
  {'location': [-80.402118, 37.21401], 'snapped_distance': 28.68},
  {'location': [-80.412407, 37.228118], 'snapped_distance': 14.82},
  {'location': [-80.402879, 37.219222], 'snapped_distance': 37.31},
  {'location': [-80.415237, 37.22936], 'snapped_distance': 8.63},
  {'location': [-80.414797, 37.229952], 'snapped_distance': 10.52},
  {'location': [-80.418531, 37.233544], 'snapped_distance': 8.92},
  {'location': [-80.399116, 37.203353], 'snapped_distance': 46.32},
  {'location': [-80.415924, 37.229719], 'snapped_distance': 9.24},
  {'location': [-80.414799, 37.230159], 'snapped_distance': 15.33},
  {'location': [-80.421394, 37.234141], 'snapped_distance': 14.29},
  {'location': [-80.402435, 37.213894], 'snapped_distance': 19.27},
  {'location': [-80.413062, 37.228717], 'snapped_distance': 12.44}],
 'metadata': {'attribution': 'openrouteservice.org | OpenStreetMap contributors',
  'service': 'matrix',
  'timestamp': 1572383992679,
  'query': {'locations': [[-80.4194181, 37.234521],
    [-80.41591564, 37.2301771],
    [-80.4018148, 37.2141015],
    [-80.41247863, 37.22823855],
    [-80.4032092, 37.2190136],
    [-80.4153014, 37.2294182],
    [-80.4148723, 37.2300255],
    [-80.4186, 37.233486],
    [-80.3985999, 37.2032862],
    [-80.415858, 37.2297829],
    [-80.4149254, 37.2300647],
    [-80.42129967, 37.23403715],
    [-80.4023644, 37.2137303],
    [-80.41315172, 37.22880355]],
   'profile': 'driving-car',
   'responseType': 'json'},
  'engine': {'version': '5.0.2', 'build_date': '2019-09-20T13:57:05Z'}}}

In [71]:
import numpy as np
np_distances = np.array(restaurant_distances['durations'])
np.save('res_distances', np_distances)

In [73]:
n = 14
distance_matrix_rr = {df_restaurants["Restaurant"][i] : 
                      { "Address": df_restaurants["Address"][i], 
                       "Coordinates": [float(df_restaurants['Longitude'][i]), float(df_restaurants['Lattitude'][i])],
                       "Distance" : {df_restaurants["Restaurant"][j]:np_distances[i,j] for j in range(n)
                                    }} for i in range(n)}

In [81]:
import json

my_json = json.dumps(distance_matrix_rr)
f = open("distance_matrix_rr.json","w")
f.write(my_json)
f.close()

In [90]:
import json
data_restaurants = json.load(open("distance_matrix_rr.json","r"))
restaurants = list(data.keys())

In [ ]:
client.distance_matrix()

In [48]:
def route_info(coordinates):
    route = client.directions(
    coordinates=coordinates,
    profile='driving-car',#'foot-walking',
    format='geojson',
    #options={"avoid_features": ["steps"]},
    validate=False)
    distance = route['features'][0]['properties']['segments'][0]['distance']
    duration = route['features'][0]['properties']['segments'][0]['duration']
    return distance, duration

In [53]:
i = 0
j = 0
coor1 = [float(df_restaurants['Longitude'][i]), float(df_restaurants['Lattitude'][i])]
coor2 = [float(df_restaurants['Longitude'][j]), float(df_restaurants['Lattitude'][j])]
coordinates = [coor1, coor2]
coordinates
#route_info(coordinates)

[[-80.4194181, 37.234521], [-80.4194181, 37.234521]]

In [25]:
import json

dict = {'Python' : '.py', 'C++' : '.cpp', 'Java' : '.java'}

json = json.dumps(dict)
f = open("dict.json","w")
f.write(json)
f.close()

In [22]:
my = {"location1": {"location2":{"Distance" : 5, "Duration" : 7}}}
this = {"location2": {"location3":{"Distance" : 6, "Duration" : 10}}}

In [23]:
my.update(this)
my

{'location1': {'location2': {'Distance': 5, 'Duration': 7}},
 'location2': {'location3': {'Distance': 6, 'Duration': 10}}}

In [15]:
join(my, my)

NameError: name 'join' is not defined