# Sets

### The Basics

- Sets hold unordered collections of unique elements.
- Sets are indicated with curly braces. They contain elements instead of key: value pairs.

In [1]:
d = {'apples':33, 'bananas':47, 'oranges':27}
type(d)

dict

In [2]:
s = {'apples', 'bananas', 3.14, -5}
type(s)

set

In [3]:
3 in s

False

In [4]:
'apples' in s

True

In [5]:
s = set([1, 2, 1, 3, 4, 4])
s

{1, 2, 3, 4}

In [6]:
len(s)

4

- Sets do not support indexing, slicing, or other sequence-like behavior.

In [7]:
s

{1, 2, 3, 4}

In [8]:
s[2]

TypeError: 'set' object does not support indexing

### Sets Are Mutable

In [9]:
s = {}  # Create an empty dictionary, not a set
s

{}

In [10]:
type(s)

dict

In [11]:
s = set()  # An empty set
s

set()

In [12]:
type(s)

set

In [13]:
s.add(4)
s

{4}

In [14]:
s = set((1, 2, 3)) # Create a set from a list or tuple
s

{1, 2, 3}

In [15]:
s.add('Hello World')
s

{1, 2, 3, 'Hello World'}

### Set Operations

In [16]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 | s2  # Set union

{1, 2, 3, 4}

<img src="images/union.png" alt="Set Union" style="width: 200px;"/> <img src="images/vertical_line.png" alt="Vertical Line" style="width: 200px;"/>

In [17]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 & s2  # Set intersection

{1, 3}

<img src="images/intersection.png" alt="Set Intersection" style="width: 200px;"/>

In [18]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 - s2  # Set difference

{2}

<img src="images/difference.png" alt="Set Difference" style="width: 200px;"/>

In [19]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 ^ s2  # Symmetric difference

{2, 4}

<img src="images/symmetric_difference.png" alt="Set Symmetric Difference" style="width: 200px;"/>

In [20]:
s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1 <= s2  # Subsets: s1 ⊆ s2?

False

In [21]:
s1 = {1, 2, 3}
s3 = {1, 2}
s1 > s3   # s1 ⊃ s3?

True

### Example: Employees

In [22]:
engineers = {'Jane', 'Jack', 'Julie'}
programmers = {'Jack', 'Sam', 'Susan'}
managers = {'Jane', 'Susan', 'Zack'}

In [23]:
allemployees = engineers | programmers | managers
allemployees

{'Jack', 'Jane', 'Julie', 'Sam', 'Susan', 'Zack'}

In [24]:
eng_management = engineers & managers
eng_management

{'Jane'}

In [25]:
fulltime_management = managers - engineers - programmers
fulltime_management

{'Zack'}

In [26]:
engineers.add('Mark')  #Mark joins
engineers

{'Jack', 'Jane', 'Julie', 'Mark'}

In [27]:
allemployees.add('Mark')
allemployees

{'Jack', 'Jane', 'Julie', 'Mark', 'Sam', 'Susan', 'Zack'}

In [28]:
for group in [engineers, programmers, managers, allemployees]:
    group.discard('Susan')   #Susan leaves
    print(group)

{'Julie', 'Jack', 'Jane', 'Mark'}
{'Sam', 'Jack'}
{'Jane', 'Zack'}
{'Sam', 'Jane', 'Zack', 'Mark', 'Jack', 'Julie'}

### Course Materials on YouTube and GitHub

- Course videos are hosted by YouTube ( http://youtube.com/yongtwang ).
- Course documents (Jupyter Notebooks and Python source code) are hosted by GitHub ( http://github.com/yongtwang ).